[submodule "DraggerResizerWinUI"]
	path = DraggerResizerWinUI
	url = https://github.com/PeteJobi/DraggerResizerWinUI.git
[submodule "ImageTourPageWinUI"]
	path = ImageTourPageWinUI
	url = https://github.com/PeteJobi/ImageTourPageWinUI.git
