[submodule "DraggerResizerWinUI"]
	path = DraggerResizerWinUI
	url = https://github.com/PeteJobi/DraggerResizerWinUI.git
[submodule "ImageTourPage"]
	path = ImageTourPage
	url = https://github.com/PeteJobi/ImageTourPage.git
