[submodule "DraggerResizerWinUI"]
	path = DraggerResizerWinUI
	url = https://github.com/PeteJobi/DraggerResizerWinUI.git
[submodule "ImageTourPageWinUI"]
	path = ImageTourPageWinUI
	url = https://github.com/PeteJobi/ImageTourPageWinUI.git
[submodule "TimelineWinUI"]
	path = TimelineWinUI
	url = https://github.com/PeteJobi/TimelineWinUI.git
[submodule "WinUIShared"]
	path = WinUIShared
	url = https://github.com/PeteJobi/WinUIShared.git
[submodule "TextToTimeSpanWinUI"]
	path = TextToTimeSpanWinUI
	url = https://github.com/PeteJobi/TextToTimeSpanWinUI.git
